
.icon-path-(stroke):before { content: '\e800'; } /* '' */
.icon-combined-shape:before { content: '\e802'; } /* '' */
.icon-combined-shape-1:before { content: '\e803'; } /* '' */
.icon-path:before { content: '\e804'; } /* '' */
